.museum-item a {
    display: block;
    background: #ddd;
    position: absolute;
    bottom: 0;
    right: 0%;
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;


}
.museum-item {
    overflow: hidden;
}